:root {
  --primary-color: white;
  --secondary-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.list-style-none {
  list-style: none;
}

.large {
  font-size: 1em;
}

.medium {
  font-size: 0.7em;
}

.small {
  font-size: 0.5em;
}

.button {
  padding: 0.5em;
  border-radius: 0.1em;
  outline: none;
  border: none;
  transition: all 300ms ease;
}

.button:hover {
  cursor: pointer;
  color: #e6c700;
}

.header {
  margin: 0.5em 5em;
  cursor: default;
  box-shadow: 0px 8px 10px -3px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.logout {
  background-color: var(--secondary-color);
  transition: all 300ms ease;
  margin-right: 1em;
}

.logout > a {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 300ms ease;
}

.logout:hover > a {
  text-decoration: underline;
}

.logout:hover > a {
  color: #e6c700;
}

.profile {
  background-color: black;
  color: #e6c700;
  border-radius: 50%;
  border: 2px solid #e6c700;
  width: 50px;
  height: 50px;
  padding: 0.8em;
}

.content {
  min-height: 86vh;
  font-size: 0.5em;
  padding: 1em;
  margin: 0 11em;
}

.upload {
  min-height: 100px;
  transform: translateY(-5rem);
}

input[type="file"] {
  display: none;
}

.file-form {
  margin-top: 1em;
  transition: all 300ms ease;
}

.file {
  color: var(--primary-color);
  background-color: black;
  border: 1px solid #e6c700;
  border-radius: 1em;
  cursor: pointer;
}

.file-list-element {
  padding: 0.3em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.file-date {
  margin-top: 0.3em;
  color: gray;
}

.download {
  color: white;
  background-color: black;
  padding: 1rem;
  background: black;
  color: white;
  border: 3px solid transparent;

  font-size: 20px;
  cursor: pointer;
  transition: all 500ms ease;
  text-decoration: none;
  margin-right: 1em;
  margin-left: 2em;
  border-radius: 5em;
}

.delete {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.size {
  margin-top: 0.3rem;
}
