* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  height: 100vh;
}

.image-area {
  width: 50%;
}

.image-area img {
  width: 100%;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  margin-bottom: 5rem;
}

.text > * {
  margin-bottom: 2rem;
}

.text > h1 {
  font-weight: bold;
  font-size: 40px;
}

.text > h3 {
  font-weight: 500;
  font-size: 45px;
  width: 75%;
  margin: 2rem auto;
}

.text > p {
  font-weight: lighter;
  font-size: 20px;
}

.text-area a {
  padding: 1rem;
  background: black;
  color: white;
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #fd1892 0%,
    #b8fd33 50%,
    #fec837 100%
  );
  border-image-slice: 1;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
  transition: all 500ms ease;
  text-decoration: none;
}

.text-area a:hover {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .image-area {
    display: none;
  }
}
