{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OX-file</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    {% csrf_token %}
    <div class="flex align-center justify-between header">
      <h1>OX</h1>
      <ul class="flex align-center large list-style-none">
        <li>
          <button class="medium button logout">
            <a href="/auth/logout">Logout</a>
          </button>
        </li>
        <li class="flex align-center justify-center large profile">{{ logo }}</li>
      </ul>
    </div>
    <div class="{% if not files %}flex align-center justify-center content{% else %}content non-empty-content{% endif %}">
      {% if not files %}
        <div class="upload">
          <h1>Start by uploading your first file</h1>
          <form method="post" enctype="multipart/form-data" class="flex justify-center file-form" action="/file/upload" id="file-form">
            {% csrf_token %}
            <label for="file" class="flex align-center justify-center large button file">Upload</label>
            <input type="file" name="file" id="file">
          </form>
        </div>
      {% else %}
        <ul class="file-list">
          <li class="flex align-center justify-center file-list-element">
            <form method="post" enctype="multipart/form-data" class="file-form" action="/file/upload" id="file-form">
              {% csrf_token %}
              <label for="file" class="flex align-center justify-center large button file">Upload</label>
              <input type="file" name="file" id="file">
            </form>
          </li>
          {% for file in files %}
            <li class="flex align-center justify-between list-style-none file-list-element">
              <div "file-part">
                <p>{{ file.filename }}</p>
                <p class="file-date">Uploaded at: {{file.uploaded_at}} UTC</p>
              </div>
              <div class="flex">
                <button class="large button download">Download</button>
                <button class="large button delete">X</button>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <script src="{% static "app.js" %}"></script>
  </body>
</html>
